# dependencies
node_modules/

# Next.js
.next/
out/
out.zip

# environment variables
.env
.env.local
.env.*.local

# build output
dist/
build/

# screenshots
screenshot/

# OS
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*

# editor
.vscode/
.idea/
